body {
    overflow-x: hidden;
    width: auto !important;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: #271F1E !important;
}

/*Header*/
header {
    background-color: #553726;
}

.navbar {
    padding: 3 !important;
    margin: 3 !important;
}

.navbar-brand {
    padding: 0 !important;
    margin: 0 !important;
    padding-right: 0 !important;
    margin-right: 0 !important;
}

.fs-6{
    font-size: 20px !important;
}

.navbar-link {
    font-size: 20px !important;
}

/*main*/

img {
    border-radius: 20px;
}

.card{
    background-color: #271F1E;
}
/*Footer*/
footer {
    background-color: #553726;
    position: absolute;
    width: 100%;
}